<?xml version="1.0" ?>

<config>
    <modules>
        <Soularpanic_CarToGraphEE>
            <version>0.1.0</version>
        </Soularpanic_CarToGraphEE>
    </modules>

    <global>
        <models>
            <cartographee>
                <class>Soularpanic_CarToGraphEE_Model</class>
                <resourceModel>cartographee_resource</resourceModel>
            </cartographee>

            <cartographee_resource>
                <class>Soularpanic_CarToGraphEE_Model_Resource</class>
                <entities>
                    <car>
                        <table>cartographee_cars</table>
                    </car>
                    <car_product>
                        <table>cartographee_cars_products</table>
                    </car_product>
                </entities>
            </cartographee_resource>
        </models>

        <resources>
            <cartographee_setup>
                <setup>
                    <module>Soularpanic_CarToGraphEE</module>
                    <class>Soularpanic_CarToGraphEE_Model_Resource_Setup</class>
                </setup>
            </cartographee_setup>
        </resources>

        <helpers>
            <cartographee>
                <class>Soularpanic_CarToGraphEE_Helper</class>
            </cartographee>
        </helpers>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Soularpanic_CarToGraphEE after="Mage_Adminhtml">Soularpanic_CarToGraphEE_Admin</Soularpanic_CarToGraphEE>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <soularpanic_cartographee>
                    <file>CarToGraphEE.xml</file>
                </soularpanic_cartographee>
            </updates>
        </layout>
    </adminhtml>

</config>